.about-me {
    display: flex;
    padding: 1em;
    gap: 1em;
}
  
.pic-container {
    display: flex;
    flex-direction: column;
    width: 40%;
}
  
.profile-pic {
    width: 20vh;
    margin-bottom: 5px;
    border-radius: 30%;
}
  
.text-container {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 100%;
    /* flex-wrap: wrap; */
    /* padding-bottom: 300px; */
}

@media screen and (max-width: 768px) {
    .about-me {
        flex-direction: column;
    }

    .text-container p {
        font-size: 1em;
    }
}