/* .container {
    display: flex;
    flex-direction: column;
    width: 5vh;
} */

.container {
    display: flex;
    flex-direction: column;
    padding: 1em;
    gap: 1em;
    width: 100%;
}

/* .form {
    display: flex;
    flex-direction: column;
} */

/* .form-text {
    color: white;
} */

.text-muted {
    color: white !important;
    font-style: italic;
}

@media screen and (max-width: 768px) {
    .container {
        width: 100%;
    }
}