/* .container {
    display: flex;
    flex-direction: column;
    width: 5vh;
} */

ul {
    list-style: none;
}

.contact-wrapper {
    display: flex;
}

.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
    gap: 1em;
    width: 100%;
}

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
}

/* .form {
    display: flex;
    flex-direction: column;
} */

/* .form-text {
    color: white;
} */

.text-muted {
    color: white !important;
    font-style: italic;
}

@media screen and (min-width: 375px) and (max-width: 768px) {
    .contact-wrapper {
        flex-direction: column;
    }

    .contact-info {
        padding-top: 2em;
    }
    
    /* .contact-container {
        display: flex;
        flex-direction: column;
        padding: 1em;
        gap: 1em;
        width: 100%;
    } */

    /* .contact-info {
        display: flex;
        text-align: center;
    } */
}