/* .container {
    display: flex;
    flex-direction: column;
    width: 5vh;
} */

.form {
    display: flex;
    justify-content: space-around;
}

/* .form-text {
    color: white;
} */

.text-muted {
    color: white !important;
    font-style: italic;
}