footer {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1em;
    gap: 3em;
    background-color: black;
    margin-top: auto;
}

.fa-3x:hover {
    transform: scale(1.1);
}