.name {
    color: white;
}

.navbar {
    padding-right: 1em;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    opacity: 90%;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler {
    border: 2px solid white;
    
}

.navbar-brand {
    margin-left: 12px;
    font-size: 2.5em;
    font-weight: 700;
    font-family: Univers;
}

.navbar-brand:hover {
    color: white;
}

.nav-item {
    list-style-type: none;
}

/* .navbar-nav .nav-tabs .nav-link:active {
    color: white !important;
} */

.nav-link:hover {
    color: white;
    background-color: #333;
    box-shadow: inset 0px 2px 4px rgba(208, 0, 255, 0.7), 
                inset 0px 4px 8px rgba(208, 0, 255, 0.7), 
                inset 0px 8px 16px rgba(208, 0, 255, 0.7);
    transition: 0.2s;
    transform: translateY(2px);
}

.nav-tabs {
    border-bottom: none;
}
