a {
    display: flex;
    justify-content: center;
}

.bullet-points {
    content: "\2022";
    color: white;
}

.resume-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.resume-download {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding-top: 5em;
    padding-bottom: 2em;
    padding-left: 1em;
}

.resume-proficiencies {
    display: flex;
    justify-content: center;
    gap: 5em;
    padding-left: 1em;
    padding-top: 3em;
    
}