* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 16px;
}

body {
  background-color: black;
  width: 100%;
  color: antiquewhite;
}

footer {
  display: flex;
  justify-content: center;
  gap: 1em;
  font-size: 10em;
}

p {
  font-size: 20px;
}

/* About Me Styling */

.about-me {
  display: flex;
  padding: 1em;
  gap: 1em;
}

.pic-container {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.profile-pic {
  width: 20vh;
  margin-bottom: 5px;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-self: center;
}

/* Portfolio Projects Styling */

.card {
  display: flex;
  width: 30%;
}

.card-detail {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  width: 100%;
}


@media only screen and (max-width: 768px){
  .card {
    width: 100%;
  }
}